﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/jquery.bootgrid-1.3.1/jquery.bootgrid.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/jquery.bootgrid-1.3.1/jquery.bootgrid.min.js"></script>

    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet" />

    <link href="~/css/bootgrid-rtl.css" rel="stylesheet" />
    @*<link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/app.min.1.css" rel="stylesheet" />
    <link href="~/css/app.min.2 - rtl.css" rel="stylesheet" />
    <link href="~/css/app.min.2.css" rel="stylesheet" />*@

    @*<link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/app.min.1.css" rel="stylesheet" />
    <link href="~/css/app.min.2 - rtl.css" rel="stylesheet" />
    <link href="~/css/app.min.2.css" rel="stylesheet" />
    <link href="~/css/fontiran.css" rel="stylesheet" />*@
    <style>
        body {
            font-family: IRANSans !important;
        }
        .row {
            margin-bottom:20px;
            margin-top:20px;
        }
        .scrollable-menu {
            height:auto;
            width:auto;
            max-height: 200px;
            overflow-x:hidden;
        }
        .scrollable-menu li {
            width:auto;
        }
        /*.table tr{
            float:right;
        }
        .table tr {
            float:right;
        }*/
    </style>
</head>
<body>
    <header class="page-header">
        <p>تمامی استادان</p>
    </header>
    <div class="container">
        <div class="panel">
            @RenderBody();
        </div>
       
    </div>
</body>
@RenderSection("MyScripts", false);
</html>
