﻿@using University_3.ViewModel
@model AddProfessorViewModel

<form id="Professor" action="AddNewProfessor" method="post">
    <div class="row">
        <div class="col-md-4">
            <label for="firstName">نام</label>
            <input id="firstName" type="text" value="" name="FirstName" class="form-control" placeholder="نام" />
        </div>
        <div class="col-md-4">
            <label for="lastName">نام خانوادگی</label>
            <input id="lastName" type="text" value="" name="LastName" class="form-control" placeholder="نام خانوادگی" />
        </div>
        <div class="col-md-4">
            <label for="email">ایمیل</label>
            <input id="email" type="email" name="Email" value="" class="form-control" placeholder="ایمیل" />
        </div>
    </div>
    <div class="row">
        <div id="StartDate" class="col-md-4">
            <div class="col-md-5">
                <label>تاریخ شروع قرارداد</label>
            </div>
            <div class="col-md-2">
                   <p >روز</p>
                   <select name="StartDate.Day">
                        @for (int i = 1; i < 32; i++)
                        {
                            if (i.ToString() == DateTime.Now.Year.ToString())
                            {
                                <option value=@i>@i</option>
                            }
                            else
                            {
                                <option value=@i>@i</option>
                            }

                        }
                    </select>
            </div>
            <div class="col-md-2">
                <p>ماه</p>
                          <select name="StartDate.Month">
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
               
            </div>
            <div class="col-md-2">
                <p>سال</p>
                    <select name="StartDate.Year" >
                        @for (int i = 1300; i < 1400; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
               
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-6">
                <label>نوع قرار داد</label>
            </div>
            <div class="col-md-6">       
                    <select name="ContractTpye" >
                        <option value="0">"انتخاب کنید"</option>
                        <option value="1" onselect="$('#EndDate').hide();">رسمی</option>
                        <option value="2" onselect="$('#EndDate').show();">قراردادی</option>

                    </select>
            </div>
            
        </div>
        
        <div id="EndDate" class="col-md-4" >
            <div class="col-md-5">
                <label>تاریخ اتمام قرارداد</label>
            </div>
            <div class="col-md-2">
               
                    <select name="EndDate.Day">
                        @for (int i = 1; i < 32; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
              
            </div>
            <div class="col-md-2">
              
                    <select name="EndDate.Month" >
                        @for (int i = 1; i < 13; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
               
            </div>
            <div class="col-md-3">
                
                    <select name="EndDate.Year">
                        @for (int i = 1300; i < 1400; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
               
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
               <select name="State" >
                    @foreach(var state in Model.States)
                    {
                        <option value=@state.Id>@state.StateName</option>
                    }                  
                </select>
            </div>
       
        <div class="col-md-3">
            <select name="Town">
                @foreach (var town in Model.Townes)
                {
                    <option value=@town.Id>@town.TownName</option>
                }
            </select>
        </div>

        <div class="col-md-3">
            <select name="Field">
                @foreach (var field in Model.Fields)
                {
                    <option value=@field.Id>@field.FieldName</option>
                }
            </select>
        </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <input id="courses" type="hidden" name="Courses" />
            <table id="grid-data" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true">ID</th>
                        <th data-column-id="course">درس</th>                      
                    </tr>
                </thead>
            </table>
        </div>
    </div>  
    <div class="row">
        <input id="saveForm" type="submit"/> 
    </div>
</form>
@section MyScripts
{
    <script>
        $(function () {
            var checkedCourse=[];
            grid = $("#grid-data");
            gridSelect = $("#grid-selcted-data");
            var ajaxLoad = function () {
                grid.bootgrid({
                    ajax: true,
                    ajaxSettings: {
                        method: "POST",
                        cache: true
                    },
                    selection: true,
                    multiSelect: true,
                    url: "/Professor/GetCourses",
                    multiSort: true

                }).on("selected.rs.jquery.bootgrid", function (e, rows) {
                    for (var i = 0; i < rows.length; i++)
                    {
                        checkedCourse.push(rows[i].id);
                    }
                    console.log(rows);
                    $("#courses").val(checkedCourse);
                    console.log($("#courses").val());
                }).on("deselected.rs.jquery.bootgrid", function (e, rowIds) {
                    for (var i = 0; i < rows.length; i++) {
                        checkedCourse.filter(rows[i].id);
                    }
                    $("#courses").val(checkedCourse);
                    console.log($("#courses").val());
                });
            }
            ajaxLoad();
            $("#EndDate").hide();
          
        });
    </script>
}

