﻿    <div class="row">
        <button id="btnGet" >استادان</button>
        <button id="btnBulkAdd" >اضافه کردن</button>
    </div>
    <div class="row"> 
        <div class="col-xs-12">
        <table id="grid-data" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="id" data-order="desc" data-type="numeric" data-identifier="true">ردیف</th>
                    <th data-column-id="FirstName" data-order="desc">نام</th>
                    <th data-column-id="LastName" data-order="desc">نام خانوادگی</th>
                    <th data-column-id="State" data-order="desc">استان</th>
                    <th data-column-id="Town" data-order="desc">شهرستان</th>
                    <th data-column-id="Field" data-order="desc">رشته تحصیلی</th>
                    <th data-column-id="ContractType" data-order="desc">نوع فرارداد</th>
                    <th data-column-id="StartContractDate" data-order="desc">تاریخ شروع قراداد</th>
                    <th data-column-id="EndContractDate" data-order="desc">تاریخ اتمام قرارداد</th>
                </tr>
            </thead>
        </table>
            </div>
    </div>
@section MyScripts
{
    <script>
        $(function () {
            var ajaxload = function () {
            $("#grid-data").bootgrid({
                ajax: true,
                ajaxSettings: {
                    method: "POST",
                    cache: true
                },
                selection: true,
                multiSelect: true,
                rowSelect: true,
                keepSelection: true,
                url: "/Professor/AllProfessors",
                multiSort: true
            })
                .on("selected.rs.jquery.bootgrid", function (e, rows) {
                    var rowIds = [];
                    for (var i = 0; i < rows.length; i++) {
                        rowIds.push(rows[i].id);
                    }
                    alert("Select: " + rowIds.join(","));
                }).on("deselected.rs.jquery.bootgrid", function (e, rows) {
                    var rowIds = [];
                    for (var i = 0; i < rows.length; i++) {
                        rowIds.push(rows[i].id);
                    }
                    alert("Deselect: " + rowIds.join(","));
                });
        }           
            $("#btnGet").click(function () {
                ajaxload();
            });
            $("#btnBulkAdd").click(function () {
                
                $.ajax({
                    url: "/Professor/AddBulkProfessor", success: function (result) {
                        if (result == "OK") {
                            ajaxload();
                        };
                    }
                });
            }); 
           
        });      
    </script>
    }
