﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/angular-data-grid.material.css" rel="stylesheet" />
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material/angular-material.min.js"></script>
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />

    <script src="~/Scripts/pagination.min.js"></script>
    <script src="~/Scripts/dataGrid.min.js"></script>

    <script src="~/Scripts/demoApp.js"></script>
</head>
<body ng-app="myApp" ng-controller="myAppController" ng-cloak>
    <div layout="column" layout-fill>
        <md-content layout-padding layout="row" layout-align="center">
            <div flex-gt-md="60" flex-md="80" flex-xs="100">

                <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center">
                    <div layout="row" layout-align="center start">
                        <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                            <input ng-model="code"
                                   class="md-input"
                                   ng-change="gAction.filter()"
                                   id="order"
                                   placeholder="Search by Order #"
                                   filter-by="code"
                                   filter-type="text"
                                   aria-invalid="false">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-datepicker ng-model="dateFrom"
                                       flex="100"
                                       md-placeholder="From Date"
                                       is-open="dateFromOpened"
                                       ng-click="dateFromOpened = true"
                                       filter-by="placed"
                                       filter-type="dateFrom"
                                       ng-change="gAction.filter()"></md-datepicker>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-datepicker ng-model="dateTo"
                                       flex="100"
                                       md-placeholder="To Date"
                                       is-open="dateToOpened"
                                       ng-click="dateToOpened = true"
                                       filter-by="placed"
                                       filter-type="dateTo"
                                       ng-change="gAction.filter()"></md-datepicker>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-button ng-show="dateTo || dateFrom" class="md-raised md-primary" ng-click="dateTo = ''; dateFrom = ''; gAction.refresh();">Clear Dates</md-button>
                    </div>
                </div>
                <div grid-data id='test' grid-options="gridOptions" grid-actions="gAction">
                    <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                        <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                            <span>{{filtered.length}} items total</span>
                        </div>
                        <div flex-gt-sm="75" flex-xs="100">
                            <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                <grid-pagination max-size="5"
                                                 boundary-links="true"
                                                 class="pagination mdl-shadow--2dp"
                                                 ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                                 total-items="paginationOptions.totalItems"
                                                 ng-model="paginationOptions.currentPage"
                                                 ng-change="reloadGrid()"
                                                 items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                                <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                    <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                        <md-option>10</md-option>
                                        <md-option>25</md-option>
                                        <md-option>50</md-option>
                                        <md-option>75</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th sortable="Id" class="sortable">
                                        <span>Id</span>
                                    </th>
                                    <th sortable="FirstName" class="sortable">
                                        <span>First Name</span>
                                    </th>
                                    <th sortable='LastName' class="sortable">
                                        <span>Last Name</span>
                                    </th>
                                    <th sortable='State' class="sortable">
                                        <span>State</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr grid-item>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <span ng-bind="item.id"></span>
                                    </td>
                                    <td ng-bind="item.FirstName"></td>
                                    <td ng-bind="item.LastName"></td>
                                    <td ng-bind="item.State"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                        <grid-pagination max-size="5"
                                         boundary-links="true"
                                         class="pagination"
                                         ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                        <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                            <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                <md-option>10</md-option>
                                <md-option>25</md-option>
                                <md-option>50</md-option>
                                <md-option>75</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-content>
    </div>

</body>
</html>
